infra/docker/monitoring/grafana/storage/
infra/docker/monitoring/grafana/config/
infra/docker/monitoring/prometheus/data/
infra/docker/monitoring/prometheus/monitoring/
source/currency-l0/tessellation
source/currency-l1/tessellation
source/global-l0/tessellation
source/dag-l1/tessellation
.idea
infra/docker/shared/jars